<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cmsassociation -->
      <package
            uri="http://fr.ubo.mde.meddous.cmsassociation"
            class="cms_association.cmsassociation.CmsassociationPackage"
            genModel="model/cmsassociation.genmodel"/>
   </extension>

</plugin>
